
.3d-game, canvas {
	top: 14%;
	display: block;
}
.div-game{
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* html, body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
} */