
.buttonChoices {
    font-family: "slashed-zero", monospace;
      font-size: 1em;
      /* letter-spacing: 1em; */
      color: skyblue;
      padding: 0.2em;
  }
  .digital-number {
              font-variant-numeric: slashed-zero;
              /* font-family: "slashed-zero", monospace; */
              font-size: 3em;
              letter-spacing: 1em;
              color: skyblue;
              padding: 0.2em;
          }
  
  .Winner {
      /* font-variant-numeric: slashed-zero; */
      font-family: "slashed-zero", monospace;
      font-size: 2em;
      /* letter-spacing: 1em; */
      color: skyblue;
      padding: 0.2em;
  }
  .Win {
      /* font-variant-numeric: slashed-zero; */
      font-family: "slashed-zero", monospace;
      font-size: 3em;
      letter-spacing: 1em;
      color: skyblue;
      padding: 0.2em;
  }
    .canvas-container {
      position: relative;
      width: 100%;
      max-width: 640px; /* Limit the maximum width */
      height: auto;
      padding-bottom: 75%;
      max-height: 480px;
      border: 1px solid black;
      overflow: hidden;
  }
  
  canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .responsive-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 aspect ratio (4 / 3 = 0.75) */
  }
  
  .canvas-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('./assets/pong.png');
      background-size: cover;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .button-container button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
