.DS_Store
migrations
TODO
__pycache__
.env
media
debug
react/frontend/src/package-lock.json
react/frontend/src/package.json
react/frontend/package-lock.json
react/frontend/node_modules/
react/frontend/src/node_modules/
