.d-block, img{
    width: 800px;
    height: 900px;
}

h3{
    color: rgb(2, 229, 210);
    margin-bottom: 300px;
}
.custom-image {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
  }
.right{
    margin-top: 330px;
    margin-left: 20px;
    margin-bottom: 100px;
}
.right p{
    font-size: 20px;
}
.right Button{
    margin-top: 60px;
    width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: green;

}
.right Button :hover{
    background-color: lightblue;

}

.left{
    margin-top: 180px;
    margin-left: 20px;
    margin-bottom: 100px;
}
.left p{
    font-size: 20px;
}
.left Button{
    margin-top: 30px;
    width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: green;

}
.left Button :hover{
    background-color: lightblue;

}
.made-by-section {
    text-align: center;
    padding: 2rem 0;
  }
  
  .person-box {
    margin: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .person-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  .footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
  }
  