.d-block, img{
    width: 800px;
    height: 900px;
}

h5{
    color: aliceblue;
}
.custom-image {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
  }
.right{
    margin-top: 330px;
    margin-left: 20px;
    margin-bottom: 100px;
}
.right p{
    font-size: 20px;
}
.right Button{
    margin-top: 60px;
    width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: green;

}
.right Button :hover{
    background-color: lightblue;

}
.second{
    margin-top: 120px;
    margin-left: 20px;
    margin-bottom: 100px;
}
.second p{
    font-size: 20px;
}
.second Button{
    margin-top: 60px;
    width: 120px;
    height: 60px;
    border-radius: 12px;
    background-color: green;

}